body {
    padding: 0%;
    margin: 0%;
    border: 0%;
    width: 100%;
    height: 100%;
}

.home {
    background: url("C:/Users/Mark Sarabia/projects/SARABIA_Mark_PersonalWebsite/Pictures/peaceful_and_cold_by_qauz-d5uoida-1.jpg") no-repeat;
    background-size: cover;
    font-size: 100%;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color: #000305;
    line-height: 1.5;
    text-align: left;
}

a {
    text-decoration: none;
}

.homeSection {
    margin: 0 auto;
    clear: both; 
}

/* Navigation Bar */

.divNav {
    width: 100%;
    background: rgba(6, 16, 16, 0.95);
    position: fixed;
    box-shadow: none;
}

.divNav b {
    padding: 20px 20%;
    float: left;
    font-size: 25;
    color: whitesmoke;
}

#navigation ul li {
    font: bold;
    font-size: 13;
    display: inline-block;  
    text-transform: uppercase;
}

#navigation {
    border-bottom: rgba(22, 0, 135, 0.76) solid;
    padding: 0% 15%;
}

#navigation ul li a {
    float: right;
    color: whitesmoke;
}

#navigation a:link, #navigation a:active {
    height: 20px;
    color: #0254DF;
    display: inline-block;
    padding: 10px 20px;
}

#navigation a:active , #navigation #active a:visited {
    color: #0254DF;
}

#navigation a:hover, #navigation a:active,
#navigation .active a:link, #navigation #active a:visited {
    background-color: #DA3B64;
    text-shadow: none;
}

.homeSection .divNav #navigation ul li a {
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
}

/* Home Page */

.firstHeader h1 {
    font-size: 40;
    text-shadow: 2px 2px 5px whitesmoke;
}

.firstHeader{
    text-align: center;
    padding: 5px 25px;
}

.divHome {
    padding: 70px 0px;
}

.firstHeader p {
    font-size: 20;
}

.divHeader {
    width: 45%;
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    background-color: rgba(173, 176, 224, 0.80);
}

.divInner {
    line-height: 30px;
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
}

.articleContent1 {
    padding-top: 0px;
    width: 35%;
    float: right;
}

.articleContent2 {
    padding-top: 0px;
    width: 65%;
    float: left;
}

.firstArticle {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    background-color: rgba(236, 231, 231, 0.70);
    width: 45%;
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    padding: 3% 5%;
}

.secondArticle {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    background-color: rgba(236, 231, 231, 0.70);
    width: 60%;
    float: right;
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    margin-right: 3%;
    padding: 3% 5%;
}

.bottom_content_section {
    margin: 0% 10%;
    padding: 0px;
}

.Top_p {
    margin-left: 50px;
    font-size: 25px;    
}

.Top_p p {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    font-weight: bold;
    padding-left: 80px;
}

.html {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    padding-top: 20px;
    width: 40%;
    float: left;
}

.html img {
    width: 25%;
    height: 15%;
}

.css {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    padding-top: 20px;
    width: 40%;
    float: right;
}

.css img {
    width: 18%;
    height: 15%;
}

.home_content_section {
    margin: 25% 10%;
    padding: 0px;
}

.js {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    padding-top: 50px;
    width: 40%;
    float: left;
}

.js img {
    width: 20%;
    height: 15%;
}

.js p {
    margin: 0% 20%;
}

.php {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    padding-top: 50px;
    width: 40%;
    float: right;
}

.php img {
    width: 30%;
    height: 15%;
    border-radius: 50%;
}

.php p {
    margin: 0% 20%;
}

.html p {
    margin: 0% 20%;
}

.css p {
    margin: 0% 20%;
}

.divFooter {
    margin: 140px 0px 0px 0px;
}

.firstFooter {
    text-align: center;
    background: rgba(6, 16, 16, 0.95);
    top: 40px;
}

.firstFooter p {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    padding: 10px 50px;
    color: #ECE7E7;
}

.section_footer {
    margin-top: 50%;
}

/* Information Page */

#My_Information_function,
#Goal_Motto_function,
#Family_function,
#Friends_function,
#Groups_function,
#Recent_work_function,
#Address_function {
    margin-top: 20px;
    margin-right: 250px;
    float: right;
    width: 600px;
    height: 380px;
    border: 3px solid black;
    background-color: rgba(175, 172, 172, 0.70);  
}
#Family_function {
    font-size: 17;

}
#My_Information_function {
    font-size: 18;
}
#Recent_work_function,
#Goal_Motto_function {
    font-size: 17.5;
}

.outerlayer_button_info {
    padding-left: 100px;
}

.innerlayer_button_info {
}

.innerlayer_button_info button{
    border: 2px solid green;
    background-color: lightgreen;
    font-size: 15;
    font-weight: bold;
    border-radius: 5%; 
    margin: 5px 2px;
    width: 150px;
    padding: 10px;
}
.div_Footer {
    margin: 347px 0px 0px 0px;
}

.info {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    background: #CAC8C8 no-repeat;
    background-size: cover;
    font-size: 100%;
    color: #000305;
    line-height: 1.5;
    text-align: left;
    
}

.divInformation {
    padding: 70px 0px;
}

.info b {
    background-color: rgb(38, 53, 67);
    padding: 0% 38% 0% 37.5%;
    background-color: cover;
    font-size:60;
    color: #5679ED;
    text-shadow: 2px 2px 5px darkgrey;
    
}

.infoSection {
    padding: 25px;
    margin-bottom: 60%;
}


/* About Page */

.outerlayer_button_about {
    margin-left: 15%;    
}

.innerlayer_button_about button{
    background-color: lightgreen;
    font-size: 15;
    font-weight: bold;
    border-radius: 5%; 
    margin: 0px 2px;
    width: 200px;
    padding: 10px;
}

.about {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    height: 115%;
    width: 100%;
    background: #CAC8C8;
    background-size: cover;
    font-size: 100%;
    color: #000305;
    line-height: 1.5;
    text-align: left;
}

.divAbout { 
    padding: 70px 0px;
}

.about b {
    text-shadow: 2px 2px 5px darkgray;
    background-color: rgb(38, 53, 67);
    padding: 0% 48.5% 0% 40%;
    font-size: 60;
    color: #5679ED;
}

.aboutSection {
    padding: 25px;
    margin-bottom: 60%;
}

.leftarticle {
    margin-top: -50px;
    background-color: rgba(227, 227, 227, 0.60);
    border: 2px solid black;
    float: left;
    width: 40%;
    padding: 20px;
    height: 60%;
    margin-left: 5%;
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
}

.articlewithoutimage {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.rightarticle {
    margin-top: -50px;
    background-color: rgba(227, 227, 227, 0.60);
    border: 2px solid black;
    float: right;
    width: 40%;
    height: 60%;
    padding: 20px;  
    margin-right: 5%;
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;

}

.leftabouthtml {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.abouthtmlleft {
    margin-top: 30px;
    background-color: rgba(227, 227, 227, 0.60);
    border: 2px solid black;
    float: left;
    width: 40%;
    padding: 20px;
    height: 50%;
    margin-left: 5%;
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
}

.righthtmlabout {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.abouthtmlright {
    margin-top: 15px;
    background-color: rgba(227, 227, 227, 0.60);
    border: 2px solid black;
    float: right;
    width: 40%;
    height: 55%;
    padding: 20px;  
    margin-right: 5%;
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
}

.articlewithimage {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.articleimage {
    border-radius: 50%;
    width: 45%;
    height: 40%;
}

.leftfavorites {
    margin-top: 30px;
    background-color: rgba(227, 227, 227, 0.60);
    border: 2px solid black;
    float: left;
    width: 40%;
    padding: 20px;
    height: 50%;
    margin-left: 5%;
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
}

.favorites {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.righthobbies {
    margin-top: 30px;
    background-color: rgba(227, 227, 227, 0.60);
    border: 2px solid black;
    float: right;
    width: 40%;
    height: 50%;
    padding: 20px;  
    margin-right: 5%;
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
}

.hobbies {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.leftpast {
    margin-top: -30px;
    background-color: rgba(227, 227, 227, 0.60);
    border: 2px solid black;
    float: left;
    width: 40%;
    padding: 20px;
    height: 50%;
    margin-left: 5%;
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
}

.past {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

.rightpresent {
    margin-top: -30px;
    background-color: rgba(227, 227, 227, 0.60);
    border: 2px solid black;
    float: right;
    width: 40%;
    height: 50%;
    padding: 20px;  
    margin-right: 5%;
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
}

.present {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}
.articlefirstFooter {
    background: rgba(6, 16, 16, 0.95);
    top: 40px;
}

.articlefirstFooter p {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-align: center;
    padding: 10px 50px;
    color: #ECE7E7;
}

.articlefooter {
    margin-top: 35%;
}

.pp2Footer {
    margin: 140px 0px 0px 0px;
}

.pp2firstFooter {
    background: rgba(6, 16, 16, 0.95);
    top: 40px;
}

.pp2firstFooter p {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    text-align: center;
    padding: 10px 50px;
    color: #ECE7E7;
}

.outerpp2 {
    margin-top: 33%;
}


/* Contact Page */

.contact {
    margin-top: 0 auto  ;
    padding: 0 auto;
}

.outerLayercontact {
    float: left;
    padding: 0px 0px 0px 5%;
    width: 50%;
}

.innerLayercontact {
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    padding: 10px;
    background-color: gainsboro;
}
.contact {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    padding: 10% 0%;
    background: #CAC8C8 no-repeat;
    margin: 0% -.05%;
    height: 55%;
    background: cover;
}

.Message {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    float: right;
    width: 20%;
    margin-right: 15%;
}

.divMessage {
    text-align: center;
    font-size: 15px;
}

.Getmessage {
    margin-top: 20%;
    height: 65%;
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    background: #827C7C;
    background: cover;
    padding: 5px;
}

.firstFooter_contact {
    background: rgba(6, 16, 16, 0.95);
    margin-top: 50px;
}

.firstFooter_contact p {
    padding: 15px 50px;
    color: #ECE7E7;
    text-align: center;
}

.section_footer_contact {
    margin-top: 35%;
}

.sectiontopcontact {
    margin-top: 2.5%;    
    padding: 0 auto;
    background-color: #363535;
}

.sectionbottomtopcontact {
    padding: 12% 0%;
    background-color: #CCCCCC;
}


.sectionbottomcontact {
    padding: 12% 0%;
    background-color: #464545;
}
.sectiontopcontact div {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    padding: 10px;
    width: 20%;
    height: 40%;
    text-align: center;
    display: inline-block;
    color: #E8E3E3;
}

.sectionbottomtopcontact div {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    margin-top: -8%;
    padding: 5px;
    width: 18%;
    height: 30%;
    text-align: center;
    display: inline-block;
    
}

.sectionbottomcontact div {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    margin-top: -8%;
    padding: 5px;
    width: 18%;
    height: 30%;
    text-align: center;
    display: inline-block;
    color: #E3D2D2;
}

.imagetop {
    margin-top: 2%;
    margin-left: 10%;
    float: left;
}

.imagecenter {
    margin-top: 2%;
    margin-left: 8%;
    float: center;
}

.imagebottom {
    margin-top: 2%;
    margin-right: 10%;  
    float: right;
}

.imagetopcontact {
    margin: 2% 5% 0% 25%;
    float: left;
}

.imagebottomcontact {
    margin: 2% 25% 0% 5%;  
    float: right;
}

@media screen and (max-width: 768px) {
    .home {
        background: url("C:/Users/Mark Sarabia/projects/SARABIA_Mark_PersonalWebsite/Pictures/peaceful_and_cold_by_qauz-d5uoida-1.jpg") no-repeat;
        background-size: cover;
        font-size: 100%;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        color: #000305;
        line-height: 1.5;
        text-align: center;
    }
    
    a {
        text-decoration: none;
    }
    
    .homeSection {
        margin: 0 auto;
        clear: none; 
    }
    
    /* Navigation Bar */
    
    .divNav {
        width: 100%;
        background: rgba(6, 16, 16, 0.95);
        position: fixed;
        box-shadow: none;
    }
    
    .divNav b {
        padding: 20px;
        float: none;
        font-size: 25;
        color: whitesmoke;
    }
    
    #navigation ul li {
        font: bold;
        font-size: 13;
        display: inline-block;  
        text-transform: uppercase;
    }
    
    #navigation {
        border-bottom: rgba(22, 0, 135, 0.76) solid;
        padding: 0% 15%;
    }
    
    #navigation ul li a {
        float: right;
        color: whitesmoke;
    }
    
    #navigation a:link, #navigation a:active {
        height: 20px;
        color: #0254DF;
        display: inline-block;
        padding: 10px 20px;
    }
    
    #navigation a:active , #navigation #active a:visited {
        color: #0254DF;
    }
    
    #navigation a:hover, #navigation a:active,
    #navigation .active a:link, #navigation #active a:visited {
        background-color: #DA3B64;
        text-shadow: none;
    }
    
    .homeSection .divNav #navigation ul li a {
        border-radius: 5%;
        -moz-border-radius: 5%;
        -webkit-border-radius: 5%;
    }
    
    /* Home Page */
    
    .firstHeader h1 {
        font-size: 40;
        text-shadow: 2px 2px 5px whitesmoke;
    }
    
    .firstHeader{
        text-align: center;
        padding: 10px 25px;
    }
    
    .divHome {
        padding: 120px 0px;
    }
    
    .firstHeader p {
        font-size: 20;
    }
    
    .divHeader {
        width: 80%;
        border-radius: 5%;
        -moz-border-radius: 5%;
        -webkit-border-radius: 5%;
        background-color: rgba(173, 176, 224, 0.80);
    }
    
    .divInner {
        line-height: 20px;
        border-radius: 5%;
        -moz-border-radius: 5%;
        -webkit-border-radius: 5%;
    }
    
    .articleContent1 {
        margin: -10% 0% 0% 0%;
        padding-top: 0px;
        float: none;
        width: 100%
    }
    
    .articleContent2 {
        width: 100%;
        float: none;
    }
    
    .firstArticle {
        margin: 5%;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        background-color: rgba(236, 231, 231, 0.70);
        width: 80%;
        border-radius: 5%;
        -moz-border-radius: 5%;
        -webkit-border-radius: 5%;
        padding: 3% 5%;
    }
    
    .secondArticle {
        margin: 5%;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        background-color: rgba(236, 231, 231, 0.70);
        width: 80%;
        float: none;
        border-radius: 5%;
        -moz-border-radius: 5%;
        -webkit-border-radius: 5%;
        margin-right: 3%;
        padding: 3% 5%;
    }
    
    .bottom_content_section {
        margin: 0% 5%;
        padding: 0px;
    }
    
    .Top_p {
        margin-left: 50px;
        font-size: 25px;    
    }
    
    .Top_p p {
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        font-weight: bold;
        padding-left: 80px;
    }
    
    .html {
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        padding-top: 20px;
        width: 100%;
        float: none;
    }
    
    .html img {
        width: 20%;
        height: 15%;
    }
    
    .css {
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        padding-top: 20px;
        width: 100%;
        float: none;
    }
    
    .css img {
        width: 15%;
        height: 15%;
    }
    
    .home_content_section {
        margin: 0% 20%;
        padding: 0px;
    }
    
    .js {
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        padding-top: 20px;
        width: 100%;
        float: none;
    }
    
    .js img {
        width: 20%;
        height: 15%;
    }
    
    .js p {
        margin: 5% 20%;
    }
    
    .php {
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        padding-top: 20px;
        width: 100%;
        float: none;
    }
    
    .php img {
        width: 30%;
        height: 15%;
        border-radius: 50%;
    }
    
    .php p {
        margin: 5% 20%;
    }
    
    .html p {
        margin: 5% 20%;
    }
    
    .css p {
        margin: 5% 20%;
    }
    
    .divFooter {
        margin: 0px;
    }
    
    .firstFooter {
        text-align: center;
        background: rgba(6, 16, 16, 0.95);
        top: 40px;
    }
    
    .firstFooter p {
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        padding: 10px 50px;
        color: #ECE7E7;
    }
    
    .section_footer {
        margin-top: 0%;
    }
    /*-----------------------------------------------------------------------------------*/
    /* Information */
    
    #My_Information_function,
    #Goal_Motto_function,
    #Family_function,
    #Friends_function,
    #Groups_function,
    #Recent_work_function,
    #Address_function {
        float: none;
        width: 90%;
        height: 60% auto;
        margin: 5% auto;
        border: 3px solid black;
        background-color: rgba(175, 172, 172, 0.70);  
    }
    #Family_function {
        font-size: 17;
    
    }
    #My_Information_function {
        font-size: 18;
    }
    #Recent_work_function,
    #Goal_Motto_function {
        font-size: 17.5;
    }
    
    .outerlayer_button_info {
        columns: 3;
        margin-left: -10%;
    }
    
    .innerlayer_button_info button{ 
        border: 2px solid green;
        background-color: lightgreen;
        font-size: 15;
        font-weight: bold;
        border-radius: 5%; 
        margin: 5px 5%;
        width: 150px;
        height: 50px;
        padding: 0px;
    }
    .div_Footer {
        margin: 0px auto;
    }
    
    .My_Information.function{
        
    }

    .info {
        font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
        background: #CAC8C8 no-repeat;
        width: 100%;
        font-size: 100%;
        color: #000305;
        line-height: 1.5;
    }
    
    .divInformation {
        padding: 120px 0px;
    }

    .divInformation b {
        text-align: center;
    }
    
    .divInfo {
        line-height: 1;
        width: 73%;
        background-color: rgb(38, 53, 67);
        background-color: cover;
        margin-bottom: 2%;
    }

    .info b {
        text-align: center;
        font-size:60;
        color: #5679ED;
        text-shadow: 2px 2px 5px darkgrey;
    }
}