body {
    padding: 0%;
    margin: 0%;
    border: 0%;
    width: 100%;
    height: 100%;    
}

.home {
    background: url("C:/Users/Mark Sarabia/projects/SARABIA_Mark_PersonalWebsite/Pictures/peaceful_and_cold_by_qauz-d5uoida-1.jpg") no-repeat;
    background-size: cover;
    font-size: 100%;
    font-family: Garamond, sans-serif;
    color: #000305;
    line-height: 1.5;
    text-align: left;
}

a {
    text-decoration: none;
}

.homeSection {
    margin: 0 auto;
    clear: both; 
}

.divNav {
    width: 100%;
    background: rgba(6, 16, 16, 0.95);
    position: fixed;
    box-shadow: none;
}

.divNav b {
    float: right;
    padding: 20px 20%;
    float: left;
    font-size: 25;
    color: whitesmoke;
}

.navigation ul li {
    font: bold;
    font-size: 15;
    display: inline-block;  
}

.navigation {
    border-bottom: rgba(24, 1, 135, 0.76) solid;
    padding: 0% 15%;
}

.navigation ul li a {
    float: right;
    color: whitesmoke;
}

.navigation a:link, .navigation a:active {
    height: 20px;
    color: #0254DF;
    display: inline-block;
    padding: 10px 20px;
}

.navigation a:active , .navigation .active a:visited {
    color: #0254DF;
}

.navigation a:hover, .navigation a:active,
.navigation .active a:link, .navigation .active a:visited {
    background-color: #DA3B64;
    text-shadow: none;
}

.homeSection .divNav .navigation ul li a {
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
}

.firstHeader h1 {
    font-size: 40;
}

.firstHeader{
    text-align: center;
    padding: 5px 25px;
}

.divHome {
    padding: 70px 0px;
}

.firstHeader p {
    font-size: 20;
}

.divHeader {
    width: 45%;
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    background-color: rgba(173, 176, 224, 0.80);
}

.divInner {
    line-height: 30px;
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
}

.articleContent1 {
    padding-top: 20px;
    width: 35%;
    float: right;
}

.articleContent2 {
    padding-top: 20px;
    width: 65%;
    float: left;
}

.firstArticle {
    background-color: rgba(236, 231, 231, 0.70);
    width: 45%;
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    padding: 3% 5%;
}

.secondArticle {
    background-color: rgba(236, 231, 231, 0.70);
    width: 60%;
    float: right;
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
    margin-right: 3%;
    padding: 3% 5%;
}

.divFooter {
    margin: 180px 0px 0px 0px;
}

.firstFooter {
    background: rgba(6, 16, 16, 0.95);
    top: 40px;
}

.firstFooter p {
    padding: 10px 50px;
    color: #ECE7E7;
}

.info {
    background: #CAC8C8 no-repeat;
    background-size: cover;
    font-size: 100%;
    font-family: Garamond, sans-serif;
    color: #000305;
    line-height: 1.5;
    text-align: left;
    
}

.divInformation {
    padding: 70px 0px;
}

.info b {
    background-color: rgb(38, 53, 67);
    padding: 0% 60% 0% 40%;
    font-size: 50;
    color: #5679ED;
    
}

.infoSection {
    padding: 25px;
    margin-bottom: 60%;
}

.leftInfo {
    float: left;
    margin: 0%;
    padding: 8px;
    width: 32%;
    background-color: rgba(117, 157, 236, 0.80);
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
}

.rightInfo {
    float: right;
    text-align: left;
    margin: 0%;
    padding: 5px;
    width: 65%;
    background-color: rgba(117, 157, 236, 0.80);
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
}

.about {
    background: #CAC8C8 no-repeat;
    background-size: cover;
    font-size: 100%;
    font-family: Garamond, sans-serif;
    color: #000305;
    line-height: 1.5;
    text-align: left;
}

.divAbout { 
    padding: 70px 0px;
}

.about b {
    background-color: rgb(38, 53, 67);
    padding: 0% 57% 0% 43%;
    font-size: 50;
    color: #5679ED;
}

.aboutSection {
    padding: 25px;
    margin-bottom: 60%;
}

.leftAbout {
    float: left;
    text-align: left;
    margin: 0%;
    padding: 5px;
    width: 32%;
    background-color: rgba(117, 157, 236, 0.80);
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
}

.righttopAbout {
    padding-bottom: 40%;
}

.topRightAbout {
    float: right;
    text-align: left;
    margin: 0%;
    padding: 5px;
    width: 65%;
    background-color: rgba(117, 157, 236, 0.80);
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
}

.bottomRightAbout {
    float: right;
    text-align: left;
    margin: 0%;
    padding: 5px;
    width: 65%;
    background-color: rgba(117, 157, 236, 0.80);
    border-radius: 5%;
    -moz-border-radius: 5%;
    -webkit-border-radius: 5%;
}









